
$whitesmoke: #F6F6EF;
$gainsboro: #E3E3DC;
$orangered: #FF6600;
$gray: #797880;
$darkgray: #414145;
$lightgray: #C8C7D4;

%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $gainsboro;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    a {
        text-decoration: none;
    }
}


// navbar ------------------------------------------------------------------------------------
.nav {
    padding: 1rem 3rem;
    background: $orangered;
}

.nav__list {
    @extend %flex-row;
    justify-content: space-between;
    li {
        list-style: none;
    }
    a { // this is the <Link to=''></Link> you see in the .js files
        color: $whitesmoke;
    }
}

.nav__list__title {
    font-weight: 600;
    text-transform: uppercase;
}

.nav__list__items {
    @extend %flex-row;
    justify-content: space-between;
    width: 40%;
}


// StoryCard ----------------------------------------------------------------------------------
.content-container {
    width: 100%;
}

.content-container__storycard-list {
    width: fit-content;
    margin: 0 auto;
}

.content-container__storycard-list__story {
    padding: 3% 0 2%;
    border-bottom: solid 1px $lightgray;
    line-height: 1.8rem;
}

.content-container__storycard-list__story__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    &:hover {
        text-decoration: none;
    }
}

.content-container__storycard-list__story__url {
    color: $gray;
    font-size: 0.8rem;
}

.content-container__storycard-list__info {
    color: $gray;
    font-size: 0.8rem;
    span {
        margin-left: 0.3rem;
    }
    a {
        margin-left: 0.3rem;
        color: $gray;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        appearance: none;
        margin-left: 0.3rem;
        background: transparent;
        border: none;
        color: $gray;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.content-container__more-button {
    appearance: none;
    display: block;
    margin: 3% auto;
    padding: 0.5%;
    background: transparent;
    border: solid 2px $orangered;
    font-size: 1.4rem;
    color: $orangered;
    &:hover {
        cursor: pointer;
    }
}