
$whitesmoke: #F6F6EF;
$gainsboro: #E3E3DC;
$orangered: #FF6600;
$gray: #797880;
$darkgray: #414145;
$lightgray: #C8C7D4;

%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $gainsboro;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}


// navbar ------------------------------------------------------------------------------------
.nav {
    padding: 1rem 3rem;
    background: $orangered;
}

.nav__list {
    @extend %flex-row;
    justify-content: space-between;
    a { // this is the <Link to=''></Link> you see in the .js files
        color: $whitesmoke;
    }
}

.nav__list__title {
    font-weight: 600;
    text-transform: uppercase;
}

.nav__list__items {
    @extend %flex-row;
    justify-content: space-between;
    width: 30%;
}


// StoryCard ----------------------------------------------------------------------------------
.content-container {
    width: 100%;
    opacity: 0;
    animation: fade-in 0.3s ease-in 0.3s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-container__storycard-list {
    width: fit-content;
    margin: 0 auto;
}

.content-container__storycard-list__story {
    padding: 3% 0 2%;
    border-bottom: solid 1px $lightgray;
    line-height: 1.8rem;
}

.content-container__storycard-list__story__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    &:hover {
        text-decoration: none;
    }
}

.content-container__storycard-list__story__url {
    color: $gray;
    font-size: 0.8rem;
}

.content-container__storycard-list__info {
    color: $gray;
    font-size: 0.8rem;
    span {
        margin-left: 0.3rem;
    }
    a {
        margin-left: 0.3rem;
        color: $gray;
        text-decoration: underline;
    }
}

.content-container__more-button {
    appearance: none;
    display: block;
    margin: 3% auto;
    padding: 0.5%;
    background: transparent;
    border: solid 2px $orangered;
    font-size: 1.4rem;
    color: $orangered;
    &:hover {
        cursor: pointer;
    }
}


// UserInfo page ----------------------------------------------------------------------------
// .userinfo-container {
//     border: solid 1px red;
//     @extend %flex-row;
//     // justify-content: space-between;
//     position: relative;
//     margin: auto;
//     width: 70%;
//     font-size: 1.1rem;
// }

// .userinfo-container__labels {
//     @extend %flex-column;
//     width: 40%;
// }

// .userinfo-container__labels__item {
//     margin: 2% auto;
//     // border: solid 1px red;
// }

// .userinfo-container__entries {
//     @extend %flex-column;
//     width: 70%;
//     color: $orangered;
//     font-weight: 600;
//     border: solid 1px yellow;
// }

// .userinfo-container__entries__item {
//     margin: 2% 0;
//     width: 100%;
//     border: solid 1px green;
// }