.header__nav, .header__nav__items, .userinfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userinfo-container__labels, .userinfo-container__entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #E3E3DC;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 3.5rem;
  padding: 0.6rem 4rem;
  background: #FF6600;
}

.header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav a {
  color: #F6F6EF;
}

.header__nav__title {
  padding: 0 4px;
  font-size: 1.4rem;
  font-weight: 600;
  border: solid 2px #F6F6EF;
}

.header__nav__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font-size: 1.1rem;
}

.header__nav__items a {
  opacity: 0.7;
}

.header__nav__items a:hover {
  color: white;
  opacity: 1;
}

.highlight {
  font-weight: 600;
}

.highlight a {
  color: white;
  opacity: 1;
}

.content-container {
  width: 100%;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.3s forwards;
          animation: fade-in 0.3s ease-in 0.3s forwards;
}

.content-container__storycard-list {
  margin: 0 auto;
  padding-top: 3.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content-container__storycard-list__story {
  padding: 2rem 0 1.5rem;
  border-bottom: solid 1px #C8C7D4;
  line-height: 1.8rem;
}

.content-container__storycard-list__story__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.content-container__storycard-list__story__url {
  color: #797880;
  font-size: 0.8rem;
}

.content-container__storycard-list__info {
  color: #797880;
  font-size: 0.8rem;
}

.content-container__storycard-list__info span {
  margin-left: 0.3rem;
}

.content-container__storycard-list__info a {
  margin-left: 0.3rem;
  color: #797880;
  text-decoration: underline;
}

.content-container__more-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  margin: 3rem auto;
  padding: 0.5%;
  background: transparent;
  border: solid 2px #FF6600;
  font-size: 1.4rem;
  color: #FF6600;
}

.content-container__more-button:hover {
  cursor: pointer;
}

.userinfo-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin: auto;
  padding-top: 5rem;
  width: 70%;
  font-size: 1.1rem;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.3s forwards;
          animation: fade-in 0.3s ease-in 0.3s forwards;
}

.userinfo-container__labels {
  width: 20%;
  margin-top: 0;
}

.userinfo-container__labels__item {
  margin: 1.5rem 10% 1.5rem auto;
  color: #797880;
  font-weight: 600;
}

.userinfo-container__labels__item:last-child {
  margin-bottom: auto;
}

.userinfo-container__entries {
  width: 80%;
  color: #FF6600;
  font-weight: 600;
}

.userinfo-container__entries__item {
  margin: 1.5rem 0;
  width: 100%;
  word-wrap: break-word;
}

.userinfo-container__entries__item:nth-child(4) {
  margin-bottom: 0.5rem;
}

.userinfo-container__entries__item a {
  color: #414145;
}

.userinfo-container__entries__item a:hover {
  text-decoration: underline;
}

.comment-title__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5rem;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.3s forwards;
          animation: fade-in 0.3s ease-in 0.3s forwards;
}

.comment-title__container__title {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.comment-title__container__title:hover {
  text-decoration: none;
}

.comment-title__container__url {
  color: #797880;
  font-size: 0.9rem;
}

.comment-title__container__info {
  margin-top: 2%;
  color: #797880;
  font-size: 1rem;
}

.comment-title__container__info span {
  margin-left: 0.3rem;
}

.comment-title__container__info a {
  margin-left: 0.3rem;
  color: #797880;
  text-decoration: underline;
}

.comments-container {
  margin: 4rem;
  padding: 0 2rem;
  border-left: solid 2px #FF6600;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.3s forwards;
          animation: fade-in 0.3s ease-in 0.3s forwards;
}

.comments-container__no-comment {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: #414145;
}

.comments-container__comment {
  line-height: 1.5rem;
}

.main-comment {
  border-top: solid 1px #C8C7D4;
  padding: 2rem 0;
}

.main-comment:first-child {
  border-top: none;
  padding-top: 0;
}

.nested-comment {
  padding: 0 0 2rem;
}

.comments-container__comment__heading {
  margin-bottom: 0.3rem;
  color: #797880;
  font-size: 0.9rem;
}

.comments-container__comment__heading span:last-child {
  margin-left: 0.5rem;
}

.comments-container__comment__heading a {
  color: #797880;
  text-decoration: underline;
}

.comments-container__comment__body {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .header__nav, .header__nav__items, .userinfo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .userinfo-container__labels, .userinfo-container__entries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    height: 3rem;
    padding: 0.6rem 1.5rem 0.5rem 1rem;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav__title {
    padding: 0 4px;
    font-size: 1.1rem;
  }
  .header__nav__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    right: 5%;
    width: 77%;
    font-size: 1.1rem;
  }
  .content-container {
    width: 100%;
    padding: 0 1.5rem;
  }
  .content-container__storycard-list__story {
    padding: 1rem 0;
    line-height: 1.6rem;
  }
  .content-container__storycard-list__story__title {
    font-size: 1.1rem;
  }
  .content-container__storycard-list__info {
    font-size: 0.7rem;
  }
  .content-container__more-button {
    margin: 2rem auto;
    padding: 1.5%;
    font-size: 1.3rem;
  }
  .userinfo-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3rem 2rem;
    width: 100%;
    font-size: 1rem;
  }
  .userinfo-container__labels {
    width: 35%;
  }
  .userinfo-container__labels__item {
    margin: 1.5rem 15% 1.5rem auto;
  }
  .userinfo-container__entries {
    width: 75%;
  }
  .comment-title__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 4rem 1.5rem 1rem;
  }
  .comment-title__container__title {
    font-size: 1.2rem;
  }
  .comment-title__container__url {
    font-size: 0.9rem;
  }
  .comment-title__container__info {
    margin-top: 2%;
    font-size: 0.9rem;
  }
  .comments-container {
    margin: 2rem 1.5rem;
    padding: 0;
    border-left: none;
  }
  .comments-container__comment {
    line-height: 1.4rem;
  }
  .comments-container__comment__heading {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }
  .comments-container__comment__body {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */